<center>
  <h1 class="font-bold text-4xl text-blue-900	">Hot suggestions!!!!</h1>
  <p>Bottle of Pepsi with Lays from Oleh Vinnyk</p>
  <div style="overflow: hidden; display: flex; justify-content:space-around;">
  <%= image_tag asset_path('shock3.webp'), style: "height:380px" %>
  <%= image_tag asset_path('maxresdefault.jpeg'), style: "height:380px"%>
  <%= image_tag asset_path('shock5.jpeg'), style: "height:380px"%>
  </div> 
  <br>
  <h1>Title</h1>
  <p>text</p>
  <div style="overflow: hidden; display: flex; justify-content:space-around;">
  <%= image_tag asset_path('shock4.jpeg'), style: "height:380px"%>
  <%= image_tag asset_path('Fb-post1-7-810x421.jpeg'), style: "height:380px" %>
  <%= image_tag asset_path('shock6.jpeg'), style: "height:380px"%>
  </div>
</center>
